body {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(86, 107, 118);
}

.enterItem {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 30px;
}

.btn {  
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 35px;
  margin-top: -5px;
}

.btn:hover {
  background-color: red;
  color: white;
}

.ToDo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

u1.todo-list {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.remove {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 8px;
  border: 1px solid white;
  border-radius: 8px;
  margin-left: -25px;
  margin-bottom: 10px;
  width: 325px;
  max-width: 325px;
}

li.even {
  cursor: pointer;
  color: white;
  font-weight: 5px;
  font-size: medium;
  background-color: rgb(104, 5, 84);
}

li.odd {
  cursor: pointer;
  color: white;
  font-weight: 5px;
  font-size: medium;
  background-color: rgb(4, 44, 10);
}

li:hover {
  background-color: black;
  color: white;
}